version: "3.7"
services:
  minecraft-server:
    image: registry.gitlab.com/kopenkinda/minecraft-server-2023-ynov-gaming-team-best-guys:$CI_IMAGE_TAG
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - minecraft-data:/minecraft
    ports:
      - "25565:25565"

volumes:
  minecraft-data:
